.makeUser-admin-canvas{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;
    background-image: linear-gradient(30deg , whitesmoke ,#f2f2ff);
}
.makeUser-admin-canvas-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #423f3f;
    font-size: 2rem;
}
.makeUser-admin-canvas-middle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

}
.makeUser-admin-middle-input{
    width: 500px;
    padding: 12px;
    font-size: 1.5rem;
    outline: none;
}

.makeUser-admin-canvas-bottom{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.makeuser-admin-bottom-main{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.makeuser-admin-table{
    width: 100%;
    text-align: left;
}
.makeuser-admin-table-head{
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}
.makeuser-admin-table-head-col{
    padding: 7px 20px;
    color: white;
    background-color: black;
    font-size: 1.4rem;
    min-width: fit-content;
    font-weight: 500;
}
.makeuser-admin-table-body-col{
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    min-width: fit-content;
}
.create-admin-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.create-admin-sec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: forestgreen;
    gap: 6px;
}
.make-member-admin-no-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    font-size: 1.2rem;
}

@media only screen and (min-width:1450px) {
    .makeuser-admin-bottom-main{
        width: 94%;
    }
}

@media only screen and (max-width:1400px) {
    .makeuser-admin-bottom-main{
       white-space: nowrap;
       overflow: auto;
       display: block;
    }
    .makeuser-admin-table-head{
        top: 0px;
    }
}

@media only screen and (max-width:600px) {
    .makeUser-admin-middle-input {
        width: 80%;
        padding: 10px;
        font-size: 1.2rem;
    }
    .makeUser-admin-canvas-top {
        font-size: 1.5rem;
    }
    .makeUser-admin-canvas {
      gap: 5px;
    }
}