.members-canvas{
    width: 100vw;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(30deg , whitesmoke ,#f2f2ff);

}
.members-canvas-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 40px 0px;
}
.member-canvas-search{
    background-color: white;
    border: none;
    margin: 30px 0px;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 17px 25px;
}
.member-canvas-search:focus{
    outline: none;
}
.members-canvas-bottom{
    display: flex;
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    gap: 17px;
    justify-content: space-around;
}
.members-canvas-card{
    flex-shrink: 1;
    flex-basis: 307px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #8d8c8c;
}
.under-member-canvas-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.members-card-img-sec{
    width: 100%;
    height: 308px;
    background-color: aliceblue;
}
.members-img-size{
    width: auto;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
    margin: 0px auto;
}
.members-name-sec{
    width: 100%;
    background-color: white;
    text-align: center;
    padding:0px 10px;
    color: orange;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #7d4800;
}
.members-details-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    margin-top:3px;
}
.members-status{
    width: 100%;
    font-size: 1.1rem;
    color: black;
}
.members-address{
    margin-top: -3px;
    width: 100%;
    font-size: 0.9rem;
    color: #9b9999;
}

@media only screen and (max-width:460px) {
    .members-canvas-bottom{
        gap: 7px;
    }
    .members-canvas-card{
        flex-basis: 46.8%;
    }
    .members-card-img-sec{
        height: fit-content;
        max-height: 182px;
    }
    .members-name-sec{
        font-size: 1.28rem;
    }
    .members-status{
        font-size: 1rem;
    }
    .members-address{
        font-size: 0.78rem;
    }
    
    .member-canvas-search{
        width: 80%;
        margin: 0px 0px;
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        padding: 12px 13px;
    }

}